@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
html {
  font-size: 16px;
  background: rgb(216, 216, 216);
  font-family: 'M PLUS 1 Code', sans-serif;
}
.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background: rgb(35, 63, 70);
}
.navbar__links {
  margin-left: auto;
  padding-right: 15px;
}
.navbar__link {
  font-size: 1.5rem;
  color: rgb(197, 197, 197);
  padding-right: 30px;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgb(197, 197, 197);
}
.wrapper {
  height: 90vh;
}
.form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__input {
  height: 3.5rem;
  text-align: center;
  width: 80vw;
  color: rgb(35, 63, 70);
  font-size: 1rem;
  margin-bottom: 1rem;
}
.form__btn {
  height: 2.2rem;
  width: 20vw;
  margin-bottom: 1rem;
  background: rgb(35, 63, 70);
  font-size: 1.1rem;
  color: rgb(197, 197, 197);
}
